body {
  background: #ecfdf5; 
  color: #000000; 
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  text-align: center;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: #000;
}

.input {
  width: 280px;
  padding: 10px 12px;
  border: 1px solid #22c55e; /* green border */
  border-radius: 8px;
  outline: none;
  background: #ffffff;
  color: #000;
  transition: 0.2s;
}

.input:focus {
  border-color: #16a34a;
  box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.25);
}

.button {
  width: 280px;
  padding: 10px 12px;
  border: 1px solid #22c55e;
  background: #dcfce7; /* very light green */
  color: #000000;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.button:hover {
  background: #22c55e;
  color: white;
}
/* TOP RIGHT HEADER */
.topbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px 30px;
}

.user-email {
  border: 1px solid #22c55e;
  padding: 6px 12px;
  border-radius: 8px;
  background: #dcfce7;
  font-weight: 500;
}
